/*Globais*/
body{
    background-color: burlywood;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul{
    font-size: larger;
}

/*Principal*/

.logotipo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

.bem-vindo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
    
}

header h1{
    font-size: 40px;
    padding-top: 40px;
}
header h2{
    font-size: 25px;
    margin: 25px;
}
header p{
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.flex-principal{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1100px;   
}

.flex-principal h1{
    font-size: 25px;    
}

.flex-principal > div{
    flex: 1 1 100px;
    margin: 20px;
    background-color: white;
    border-radius: 15px;
}
.flex-principal img{
    width: 200px;
    height: 200px;
}

/* RODAPÉ */

footer img{
    width: 20px;
    height: 20px;
}

.flex-footer {
    color: burlywood;
    font-size: 15px;
    text-align: center;
    border: 1px solid black;
    }